node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
*.log

# macOS
.DS_Store

# config
.env
data/credits.json
utils/secrets.json
utils/serviceAccountKey.json
eas.json
GoogleService-Info.plist
google-services.json

# third-party
repomix-output.xml

# todo
todo.txt
